head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    meta(name="author" content="Yaaqoub Semlali")
    title Yaaqoub Semlali

    link(rel="shortcut icon", href="")

    link(href='https://fonts.googleapis.com/css?family=Raleway:200,400,800', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/normalize.min.css')
    link(rel='stylesheet prefetch', href='/css/demo.css')
    link(rel='stylesheet', href='/css/reset.min.css')
    link(rel='stylesheet prefetch', href='https://fonts.googleapis.com/css?family=Neuton|Oswald')

    link(href='/css/backGStyle.css', rel='stylesheet')
    link(href='/css/animatedTextStyle.css', rel='stylesheet')

    script(src='/js/prefixfree.min.js')